# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.lazy

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# turborepo
.turbo

coverage

**/*.env
**/*.tsbuildinfo

# packages
*.tgz

# typscript builds
.tsbuild
*.tsbuildinfo
tsconfig.build.json

# public index.d.ts generated during prepack operation
packages/*/index.d.ts

# backups generated during prepack operation
*.bak

# api-extractor output
api

# docs generated 
packages/*/docs