name: Deploy Canary

# Deploys are manually triggered
on:
  push:
    branches: [main]

jobs:
  deploy:
    name: 'Deploy Canary'
    environment: auto deploy
    timeout-minutes: 15
    runs-on: ubuntu-latest # TODO: this should probably run on multiple OSes

    steps:
      - uses: actions/checkout@v3
        with:
          # Ensure that git uses your token with admin access to the repo
          token: ${{ secrets.GH_TOKEN }}

      - name: Prepare repository
        # Fetch full git history and tags
        run: git fetch --unshallow --tags

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        shell: bash

      - name: Deploy Canary
        if: ${{ ! inputs.prerelease }}
        run: ./scripts/publish-canary.sh
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
